[submodule "charts/pubsub-push-config-injecter"]
	path = charts/pubsub-push-config-injecter
	url = https://github.com/Kerwood/pubsub-push-config-injecter
[submodule "charts/azure-group-controller"]
	path = charts/azure-group-controller
	url = https://github.com/Kerwood/azure-group-controller
